.content-group {
  position: relative;
  margin: 40px 0px;
  min-height: 100px;
  background: #3C444D;
  box-shadow: 0px 30px 40px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
  